
.title-view-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title-view-container > h3 {
    flex-grow: 2;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: #1E88E5
}

.title-view-container > .role-container {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 12pt;
    color: #1E88E5
}